<h3>Example reactive form</h3>

<label for="name">Name: </label>
<input id="name" type="text" [formControl]="name">
<p>Value: {{ name.value }}</p>
<button (click)="updateName()">Update Name</button>

<h4> Using the FormBuilder service to generate controls</h4>

<div formArrayName="aliases">
  <h2>Aliases</h2>
  <button (click)="addAlias()">+ Add another alias</button>

  <div *ngFor="let alias of aliases.controls; let i=index">
    <!-- The repeated alias template -->
    <label for="alias-{{ i }}">Alias:</label>
    <input id="alias-{{ i }}" type="text" [formControlName]="i">
  </div>
</div>
